hotelapp/__pycache__/*
.env
/apps/core/__pycache__/*
/apps/core/migrations/*
/apps/service_categories/__pycache__/*
/apps/service_categories/migrations/*
/apps/services/__pycache__/*
/apps/services/migrations/*
/apps/accounts/__pycache__/*
/apps/accounts/migrations/*
/apps/persons/__pycache__/*
/apps/persons/migrations/*