hotelapp/__pycache__/*
.env
/apps/core/__pycache__/*
/apps/core/migrations/*
/apps/service_categories/__pycache__/*
/apps/service_categories/migrations/*
/apps/services/__pycache__/*
/apps/services/migrations/*
/apps/accounts/__pycache__/*
/apps/accounts/migrations/*
/apps/persons/__pycache__/*
/apps/persons/migrations/*
/apps/guests/__pycache__/*
/apps/guests/migrations/*
/apps/employees/__pycache__/*
/apps/employees/migrations/*
/apps/properties/__pycache__/*
/apps/properties/migrations/*
/apps/room_types/__pycache__/*
/apps/room_types/migrations/*
/apps/amenities/__pycache__/*
/apps/amenities/migrations/*
/apps/rooms/__pycache__/*
/apps/rooms/migrations/*
/apps/reservations/__pycache__/*
/apps/reservations/migrations/*
/apps/reservation_items/__pycache__/*
/apps/reservation_items/migrations/*
/apps/invoices/__pycache__/*
/apps/invoices/migrations/*