{% extends 'base.html' %}

{% block title %}Reservar Quarto - {{ block.super }}{% endblock title %}

{% block body %}
<h1>Reservar Quarto</h1>

<h2>{{ room.property.name }} - Quarto {{ room.number }}</h2>
<p>Tipo: {{ room.room_type.name }} | Diária: R$ {{ room.daily_rate }}</p>
<p>{{ room.description }}</p>
{% if room.photo %}<img src="{{ room.photo.url }}" width="240">{% endif %}

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Reservar</button>
    <a href="{% url 'rooms:list_rooms' %}">Cancelar</a>
</form>
{% endblock body %}
